ler.txt
Rob\303\264 parado.png
__pycache__/
chatterbot - bibliotecas/
haarcascades/
leitura.txt
ler.txt.bak
libery install chateboot/
nome.txt
rob\303\264 falando.gif
teste.py
chatterbot-bibliotecas/
db.sqlite3
liberyinstallchateboot/